
<div class="grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="min-w-[19rem] px-3 h-40 flex flex-col items-center justify-center gap-2 bg-neutral-200 rounded-lg">
        <fa-icon [icon]="faStudent" class="text-black text-6xl" ></fa-icon>
        <p class="text-3xl font-bold">5 Etudiants</p>
    </div>
    <div class="min-w-[19rem] px-3 h-40 flex flex-col items-center justify-center gap-2 bg-neutral-200 rounded-lg">
        <fa-icon [icon]="faStudent" class="text-black text-6xl" ></fa-icon>
        <p class="text-3xl font-bold">3 Etudiants Inscrits</p>
    </div>
    <div class="min-w-[19rem] px-3 h-40 flex flex-col items-center justify-center gap-2 bg-neutral-200 rounded-lg">
        <fa-icon [icon]="faProf" class="text-black text-6xl" ></fa-icon>
        <p class="text-3xl font-bold">5 Professeurs</p>
    </div>
    <div class="min-w-[19rem] px-3 h-40 flex flex-col items-center justify-center gap-2  rounded-lg">
        
    </div>
    <div class="min-w-[19rem] px-3 h-40 flex flex-col items-center justify-center gap-2 bg-neutral-200 rounded-lg">
        <fa-icon [icon]="faClass" class="text-black text-6xl" ></fa-icon>
        <p class="text-3xl font-bold">5 Cours</p>
    </div>
</div>
<div class="fixed w-[40%] -bottom-24 -z-10 opacity-90 right-0">
    <img src="../../../assets/images/dashboard.png" alt="">
</div>

