<div *ngIf="classrooms" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div
    *ngFor="let class of classrooms" class="bg-gray-200   hover:scale-105 cursor-pointer duration-300 transition-all rounded-lg shadow-md relative p-4 flex justify-end items-center">
        <a class="w-full h-16 flex justify-end items-start " [routerLink]="['/class-details', class.id]">
            <div class="mr-4">
                <!-- <i class="pi pi-user opacity-50 text-8xl absolute -bottom-1 left-0"></i> -->
                <fa-icon *ngIf="class.teacher.subject.name === 'Math'" [icon]="faMath" class="text-7xl text-sky-400 absolute top-50 left-2" ></fa-icon>
                <fa-icon *ngIf="class.teacher.subject.name === 'SVT'" [icon]="faSvt" class="text-7xl text-green-400 absolute top-50 left-2" ></fa-icon>
                <fa-icon *ngIf="class.teacher.subject.name === 'French' || class.teacher.subject.name === 'English'" [icon]="faLanguage" class="text-7xl text-sky-600 absolute top-50 left-2" ></fa-icon>

            </div>
            <div class="w-[60%]">
                <h3 class="text-lg font-semibold">{{ class.name }}</h3>
                <p class="text-sm text-gray-600">{{ class.grade.name }}</p>
                <p class="text-sm text-gray-600">{{ class.teacher.subject.name }}</p>
                <!-- <p *ngIf="student.majorId !== 1" class="text-sm text-gray-600">{{ student.majorName }}</p> -->
            </div>
        </a>
    </div>
</div>
<div (click)="openAddClass('750ms', '375ms')" class="absolute hover:scale-110 shadow-xl  cursor-pointer duration-300 transition-all  bottom-10 right-10 w-14 h-14 flex items-center justify-center rounded-full bg-black">
    <i class="pi pi-plus text-xl text-white"></i>
</div>


<div class="fixed w-[40%] bottom-0 -z-10  right-0">
    <img src="../../../assets/images/classroom.png" alt="">
</div>
