<div class="flex flex-col h-screen fixed w-[18vw] z-10 bg-neutral-100">
    <!-- Logo -->
    <div class="p-4 mt-4">
        <img src="assets/logo.png" alt="Logo" class="w-full h-auto">
    </div>

    <!-- Links -->
    <nav class="flex-grow mt-6">
        <div class="flex flex-col justify-between h-full">
            <ul class="flex flex-col space-y-4 px-3">
                <li>
                    <a routerLink="/dashboard" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 rounded-lg" routerLinkActive="text-white bg-violet-600 hover:bg-violet-600 font-bold">
                        <i class="pi pi-th-large  text-lg"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/student" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 rounded-lg" routerLinkActive="text-white bg-violet-600 hover:bg-violet-600 font-bold">
                        <i class="pi pi-users  text-lg"></i>
                        <span>Étudiants</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 rounded-lg" routerLinkActive="text-white bg-violet-600 hover:bg-violet-600 font-bold">
                        <i class="pi pi-briefcase  text-lg"></i>
                        <span>Professeurs</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/class" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 rounded-lg" routerLinkActive="text-white bg-violet-600 hover:bg-violet-600 font-bold">
                        <i class="pi pi-book text-lg"></i>
                        <span>Cours</span>
                    </a>
                </li>
                <li>
                    <div class="px-4 py-2 flex items-center justify-between   rounded-lg" (click)="toggleParamSubMenu()">
                        <div class="flex gap-2 items-center">
                            <i class="pi pi-cog text-lg "></i>
                            <span>Parametrage</span>
                        </div>
                        <div class="p-2 rounded-full flex items-center justify-center hover:bg-neutral-300">
                            <i class="pi pi-chevron-down ml-auto " *ngIf="!showParamSubMenu"></i>
                            <i class="pi pi-chevron-up ml-auto " *ngIf="showParamSubMenu"></i>
                        </div>
                    </div>
                    <ul class="ml-6 space-y-1"
                        *ngIf="showParamSubMenu">
                        <li>
                            <a routerLink="/subject" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 rounded-lg" routerLinkActive="text-white bg-violet-600 hover:bg-violet-600 font-bold">
                                <i class="pi pi-angle-right text-lg"></i>
                                <span>Matière</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/grade" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 rounded-lg" routerLinkActive="text-white bg-violet-600 hover:bg-violet-600 font-bold">
                                <i class="pi pi-angle-right text-lg"></i>
                                <span>Niveau</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/major" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 rounded-lg" routerLinkActive="text-white bg-violet-600 hover:bg-violet-600 font-bold">
                                <i class="pi pi-angle-right text-lg"></i>
                                <span>Spécialisation</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="px-3 mb-4">
                <a (click)="logout()" class="px-4 py-2 flex items-center space-x-4 hover:bg-black hover:text-white duration-300 transition-all rounded-lg">
                    <i class="pi pi-arrow-left text-lg"></i>
                    <span>Se déconnecter</span>
                </a>
            </div>
        
        </div>
        
    </nav>
</div>