<div *ngIf="students" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div [class.border-blue]="student.grade.id === 1"
    [class.border-yellow]="student.grade.id === 2"
    [class.border-green]="student.grade.id === 3"
    *ngFor="let student of students" class="bg-gray-200   hover:scale-105 cursor-pointer duration-300 transition-all rounded-lg shadow-md relative p-4 flex justify-end items-center">
        <a class="w-full h-16 flex justify-end items-start relative" [routerLink]="['/student-details', student.id]">
            <div class="mr-4">
                <!-- <i class="pi pi-user opacity-50 text-8xl absolute -bottom-1 left-0"></i> -->
                <fa-icon [icon]="faStudent" class="opacity-50 text-7xl absolute top-0 left-0" ></fa-icon>

            </div>
            <div class="w-[60%]">
                <h3 class="text-lg font-semibold">{{ student.firstName }} {{ student.lastName }}</h3>
                <p class="text-sm text-gray-600">{{ student.grade.name }}</p>
                <p *ngIf="student.major.id !== 1" class="text-sm text-gray-600">{{ student.major.name }}</p>
            </div>
        </a>
    </div>
</div>
<div (click)="openAddStudentModal('750ms', '375ms')" class="absolute hover:scale-105 shadow-xl hover:bg-lime-500 cursor-pointer duration-300 transition-all  bottom-10 right-10 w-14 h-14 flex items-center justify-center rounded-full bg-lime-600">
    <i class="pi pi-user-plus text-xl text-white"></i>
</div>

