<div class="bg-white h-full w-full flex items-center justify-center">
    <div class="bg-violet-500 fixed  top-0 left-0 h-[50vh] w-full">
        <div class="rounded-full bg-violet-500 w-[50vw] h-[50vw] absolute -bottom-48 -left-28"></div>
        <div class="rounded-full bg-white w-[50vw] h-[50vw] absolute -bottom-[32rem] -right-24"></div>
    </div>
    <div class="flex flex-col px-4 items-center justify-center gap-4 bg-neutral-100 rounded-lg shadow-lg border-2 z-10 border-black w-[30vw] h-[70vh]">
        <!-- Head -->
        <img class="w-[40%]" src="../../../assets/images/bird.png" />
        <!-- <p class="text-xl font-bold">Login</p> -->
        <form  class="w-full" (ngSubmit)="onLoginClick()" [formGroup]="loginForm">
            <div class="grid grid-cols-1 w-full gap-1">
                <mat-form-field class="w-full">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" required>
                </mat-form-field>
                <button  type="submit"   class="invalid:cursor-not-allowed w-full outline-none py-3 focus:scale-105 rounded-lg bg-violet-500 font-bold hover:bg-violet-400 text-white">Login</button>
            </div>
        </form>
    </div>
</div>
