<div *ngIf="classroom">
    <div class="flex justify-between items-center w-[82vw] fixed top-0 right-0 px-4 py-3 bg-neutral-100">
        <a routerLink='/class' class="py-2 px-3 w-fit rounded-full hover:bg-neutral-300 transition-all duration-300">
            <fa-icon [icon]="faGithub" class="text-2xl" ></fa-icon>
        </a>
        <h2 class="text-5xl text-center font-semibold ">{{ classroom.name }}</h2>
        <div class="flex gap-2 w-fit">
            <div (click)="openEdit('750ms', '375ms')" class="py-2 px-2 flex justify-center items-center w-fit rounded-full transition-all duration-300  cursor-pointer hover:bg-neutral-300">
                <fa-icon [icon]="faEdit" class="text-2xl ml-1"></fa-icon>
            </div>
            <div (click)="delete(classroom)" class="py-2 px-3 flex justify-center items-center w-fit rounded-full transition-all duration-300  cursor-pointer hover:text-white hover:bg-red-400">
                <fa-icon [icon]="faDelete" class="text-2xl"></fa-icon>
            </div>
        </div>
    </div>
    <div class="mt-14">
        <div class="flex gap-5">
            <div class="flex flex-col gap-2 bg-neutral-200 px-4 py-3 rounded-xl w-[50%]">
                <div class="text-xl flex gap-3  w-fit">
                    <p class="font-bold">Class Grade:</p> 
                    <p>{{classroom.grade.name}}</p>
                </div>
                <div class="text-xl flex gap-3  w-fit">
                    <p class="font-bold">Number of Sessions:</p> 
                    <p>{{classroom.sessionNumber}} sessions</p>
                </div>
                <div class="text-xl flex gap-3  w-fit">
                    <p class="font-bold">Class Price:</p> 
                    <p>{{classroom.price}} MAD</p>
                </div>
            </div>
            <div class="flex flex-col gap-2 relative bg-neutral-200 px-4 py-3 rounded-xl w-[50%]">
                <div class="text-xl flex gap-3  w-fit">
                    <p class="font-bold">Teacher:</p> 
                    <p>{{classroom.teacher.firstName}} {{classroom.teacher.lastName}}</p>
                </div>
                <div class="text-xl flex gap-3  w-fit">
                    <p class="font-bold">Class Subject:</p> 
                    <p>{{classroom.teacher.subject.name}}</p>
                </div>

                <fa-icon *ngIf="classroom.teacher.subject.name === 'French' || classroom.teacher.subject.name === 'English'" [icon]="faLanguage" class="text-sky-600 text-8xl absolute bottom-1 right-2" ></fa-icon>
            </div>
        </div>
        
        <div class="flex mt-4 flex-col items-center gap-3">
            <div class="min-w-[19rem] px-3 h-40 flex flex-col items-center justify-center gap-2 bg-neutral-200 rounded-lg">
                <fa-icon [icon]="faProf" class="text-black text-6xl" ></fa-icon>
                <p class="text-3xl font-bold">{{classroom.teacher.firstName}} {{classroom.teacher.lastName}}</p>
            </div>
            <div *ngIf="students" class="grid grid-cols-1 w-full md:grid-cols-2 lg:grid-cols-4 gap-4">
                <div (click)="openAddStudent('750ms', '375ms')" class="w-full col-span-1 min-h-[120px] flex justify-center border-dashed border-2 border-black hover:scale-105  cursor-pointer duration-300 rounded-lg items-center shadow-md bg-neutral-200">
                    <div class="flex flex-col items-center justify-center ">
                        <fa-icon [icon]="faPlus" class="text-black text-5xl" ></fa-icon>
                        <p class="text-2xl font-bold">Add Student</p>
                    </div>
                </div>
                <div *ngFor="let student of students" class="bg-neutral-200 group hover:scale-105  cursor-pointer duration-300 transition-all rounded-lg shadow-md relative px-2 py-1 flex justify-center items-center">
                    <div class="flex flex-col items-center opacity-50 group-hover:opacity-100 duration-300 transition-all justify-center gap-2 bg-neutral-200 rounded-lg">
                        <fa-icon [icon]="faStudent" class="text-black text-4xl" ></fa-icon>
                        <p class="text-3xl font-bold">{{student.firstName}} {{student.lastName}}</p>
                        <i (click)="unrollStudent(student)" class="pi pi-times absolute top-2 right-3 hidden text-black hover:text-red-500 text-lg group-hover:block"></i>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="fixed w-[40%]  -bottom-16 -z-10  -right-12">
    <img *ngIf="classroom.teacher.subject.name === 'SVT'" src="../../../../assets/images/svt.png" alt="">
</div>
<div class="fixed w-[40%]  -bottom-16 -z-10  -right-12">
    <img *ngIf="classroom.teacher.subject.name === 'Math'" src="../../../../assets/images/math.png" alt="">
</div>
<div class="fixed w-[40%]  -bottom-16 -z-10  -right-12">
    <img *ngIf="classroom.teacher.subject.name === 'PC'" src="../../../../assets/images/pc.png" alt="">
</div>