<div *ngIf="student">
    <div class="flex justify-between items-center w-full">
        <a routerLink='/student' class="py-2 px-3 w-fit rounded-lg hover:scale-105 transition-all duration-300 bg-lime-500">
            <fa-icon [icon]="faGithub" class="text-3xl text-white" ></fa-icon>
        </a>
        <div class="py-2 pl-2 pr-1 flex justify-center items-center w-fit rounded-full  cursor-pointer hover:bg-gray-200">
            <fa-icon [icon]="faEdit" class="text-3xl text-lime-500"></fa-icon>
        </div>
    </div>
    <div class="p-4 bg-white rounded-lg shadow-md">
        <div class="h-[40vh] ">
            <h2 class="text-5xl text-center font-semibold ">{{ student.firstName }} {{ student.lastName }}</h2>
            <p class="text-lg "><span class="font-bold">Grad:</span> {{ student.grade.name }}</p>
            <p *ngIf="student.major.id !== 1" class="text-lg "><span class="font-bold">Major:</span> {{ student.major.name }}</p>
            <p class="text-lg "><span class="font-bold">Email:</span> {{ student.email }}</p>
            <p class="text-lg "><span class="font-bold">Phone:</span> {{ student.phoneNumber }}</p>
        </div>
        
        <h3 class="mt-8 mb-2 text-xl font-bold">Payment Records</h3>

        <table mat-table [dataSource]="paymentRecords" class="mat-elevation-z8">
            <ng-container matColumnDef="Class Name">
                <th mat-header-cell *matHeaderCellDef> Class Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.className }} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="Month">
                <th mat-header-cell *matHeaderCellDef> Month </th>
                <td mat-cell *matCellDef="let element"> {{ element.month }} </td>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{ element.amount }} </td>
            </ng-container>
            
            <!-- Symbol Column -->
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{ element.isPaid ? 'Paid' : 'Not Paid' }} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
