<div *ngIf="student">
    <div class="flex justify-between items-center w-[82vw] fixed top-0 right-0 px-4 py-3 bg-neutral-100">
        <a routerLink='/student' class="py-2 px-3 w-fit rounded-full hover:bg-neutral-300 transition-all duration-300">
            <fa-icon [icon]="faGithub" class="text-2xl" ></fa-icon>
        </a>
        <h2 class="text-5xl text-center font-semibold ">{{ student.firstName }} {{ student.lastName }}</h2>
        <div class="py-2 px-3 flex justify-center items-center w-fit rounded-full transition-all duration-300  cursor-pointer hover:bg-neutral-300">
            <fa-icon [icon]="faEdit" class="text-2xl"></fa-icon>
        </div>
    </div>
    <div class="mt-14">
        <div class="flex gap-5">
            <div class="flex flex-col gap-2 bg-neutral-200 px-4 py-3 rounded-xl w-[50%]">
                <div class="text-xl flex gap-3  w-fit">
                    <p class="font-bold">Niveau:</p> 
                    <p>{{student.grade.name}}</p>
                </div>
                <div *ngIf="student.major.id !== 1" class="text-xl flex gap-3  w-fit">
                    <p class="font-bold">Filière:</p> 
                    <p>{{student.major.name}}</p>
                </div>
                <div class="text-xl flex gap-3  w-fit">
                    <p class="font-bold">Email:</p> 
                    <p>{{student.email}}</p>
                </div>
                <div class="text-xl flex gap-3  w-fit">
                    <p class="font-bold">Numéro de téléphone:</p> 
                    <p>{{student.phoneNumber}}</p>
                </div>
            </div>
        </div>
        <div class="flex justify-between items-center my-3 w-full bg-neutral-100 text-xl rounded-lg  px-4 py-2 ">
            <h3 class="text-3xl text-violet-600 font-bold">Relevé de paiement</h3>
            <div (click)="openAddPayment('750ms', '375ms')" class="flex items-center font-semibold  gap-2 px-2 py-1 text-xl hover:scale-105 cursor-pointer text-black hover:bg-neutral-300 duration-300 transition-all rounded-lg">
                <i class="pi pi-plus "></i>
                <button class="   ">Nouveau Payement</button>
            </div>
        </div>

        <table mat-table [dataSource]="paymentRecords" class="mat-elevation-z8">
            <ng-container matColumnDef="Class Name">
                <th mat-header-cell *matHeaderCellDef> Cours </th>
                <td mat-cell *matCellDef="let element"> {{ element.classroom.name }} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="Month">
                <th mat-header-cell *matHeaderCellDef> Mois </th>
                <td mat-cell *matCellDef="let element"> {{ element.month }} </td>
            </ng-container>

            <ng-container matColumnDef="Year">
                <th mat-header-cell *matHeaderCellDef> Année </th>
                <td mat-cell *matCellDef="let element"> {{ element.year }} </td>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef> Montant </th>
                <td mat-cell *matCellDef="let element"> {{ element.amount }} </td>
            </ng-container>
            
            <!-- Symbol Column -->
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Statut </th>
                <td mat-cell *matCellDef="let element"> {{ element.paid ? 'Payé' : 'Non payé' }} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</div>
